Buoi4_KTPM2211082_PhamChiBinh/bai3/quanan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.org/quanan"
           xmlns="http://www.example.org/quanan"
           elementFormDefault="qualified">

  <!-- Định nghĩa gốc -->
  <xs:element name="QUANAN">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BAN" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TENBAN" type="xs:string"/>
              <xs:element name="SOBAN" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="NHANVIEN" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MANV" type="xs:string"/>
              <xs:element name="TENNV" type="xs:string"/>
              <xs:element name="SDT" type="xs:string"/>
              <xs:element name="DIACHI" type="xs:string"/>
              <xs:element name="GIOITINH" type="xs:string"/>
              <xs:element name="USERNAME">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="6"/>
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PASSWORD">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="10"/>
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="MON" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MAMON" type="xs:string"/>
              <xs:element name="TENMON" type="xs:string"/>
              <xs:element name="GIA" type="xs:float"/>
              <xs:element name="HINHANH" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="HOADON" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SOHD" type="xs:string"/>
              <xs:element name="NGAYLAP" type="xs:date"/>
              <xs:element name="TONGTIEN" type="xs:float"/>
              <xs:element name="TENBAN" type="xs:string"/>
              <xs:element name="MANV" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="CTHD" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SOHD" type="xs:string"/>
              <xs:element name="MAMON" type="xs:string"/>
              <xs:element name="SOLUONG" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- Khóa chính -->
    <xs:key name="khoaBan">
      <xs:selector xpath="BAN"/>
      <xs:field xpath="TENBAN"/>
    </xs:key>

    <xs:key name="khoaNhanVien">
      <xs:selector xpath="NHANVIEN"/>
      <xs:field xpath="MANV"/>
    </xs:key>

    <xs:key name="khoaMon">
      <xs:selector xpath="MON"/>
      <xs:field xpath="MAMON"/>
    </xs:key>

    <xs:key name="khoaHoaDon">
      <xs:selector xpath="HOADON"/>
      <xs:field xpath="SOHD"/>
    </xs:key>

    <!-- Khóa ngoại -->
    <xs:keyref name="refHoaDon_Ban" refer="khoaBan">
      <xs:selector xpath="HOADON"/>
      <xs:field xpath="TENBAN"/>
    </xs:keyref>

    <xs:keyref name="refHoaDon_NhanVien" refer="khoaNhanVien">
      <xs:selector xpath="HOADON"/>
      <xs:field xpath="MANV"/>
    </xs:keyref>

    <xs:keyref name="refCTHD_HoaDon" refer="khoaHoaDon">
      <xs:selector xpath="CTHD"/>
      <xs:field xpath="SOHD"/>
    </xs:keyref>

    <xs:keyref name="refCTHD_Mon" refer="khoaMon">
      <xs:selector xpath="CTHD"/>
      <xs:field xpath="MAMON"/>
    </xs:keyref>
  </xs:element>
</xs:schema>
